<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.EM_System.dao.OrderMapper">
    <select id="getMatchingSellOrder" resultType="com.EM_System.pojo.Order" parameterType="com.EM_System.pojo.Order" resultMap="MyFull">
        <![CDATA[select *
                 from EM_System.Order
                 where state = 'open' and symbol_name = #{symbol_name} and amount < 0
                 order by price asc limit 1;]]>
    </select>

    <select id="getMatchingBuyOrder" resultType="com.EM_System.pojo.Order" parameterType="com.EM_System.pojo.Order" resultMap="MyFull">
        <![CDATA[select *
                 from EM_System.Order
                 where state = 'open' and symbol_name = #{symbol_name} and amount > 0
                 order by price desc limit 1;]]>
    </select>

    <select id="getOrderByID" resultType="com.EM_System.pojo.Order" parameterType="int" resultMap="MyFull">
        select *
        from EM_System.Order
        where order_id = #{order_id};
    </select>

    <insert id="createOrder" parameterType="com.EM_System.pojo.Order" useGeneratedKeys="true" keyProperty="order_id">
        insert into EM_System.Order
            (amount, price, symbol_name, account_id, state, time, version)
        values (#{amount}, #{price}, #{symbol_name}, #{account_id}, 'open', #{timestamp}, 1);
    </insert>

    <update id="editOrder" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
        update EM_System.Order
        <set>
            amount = ${item.amount},
            state =  #{item.state},
            version = version + 1
        </set>
        where order_id = ${item.order_id} and version = ${item.version}
        </foreach>
    </update>

    <delete id="cancelOrderByID" parameterType="int">
        delete *
        from EM_System.Order
        where order_id = #{order_id};
    </delete>

    <resultMap id="MyFull" type="com.EM_System.pojo.Order">
        <id property="order_id" column="order_id"></id>
        <result property="amount" column="amount"></result>
        <result property="price" column="price"></result>
        <result property="symbol" column="symbol"></result>
        <result property="account_id" column="account_id"></result>
        <result property="state" column="state"></result>
        <result property="timestamp" column="time"></result>
        <result property="version" column="version"></result>
    </resultMap>

</mapper>


