<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--    1.引入数据库资源文件-->
    <properties resource="dbconfig.properties"></properties>

    <!--    2.配置数据库核心文件-->
    <environments default="development">
        <environment id="development">
            <!--配置JDBC链接池-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 使用$符号获取数据库资源文件的内容-->
                <property name="url" value="${jdbc.jdbcUrl}"></property>
                <property name="driver" value="${jdbc.driverClass}"></property>
                <property name="username" value="${jdbc.username}"></property>
                <property name="password" value="${jdbc.password}"></property>
                <!-- 设置最大最小链接数-->
                <!-- <property name="maxPoolSize" value="20"></property>-->
                <!-- <property name="minPoolSize" value="5"></property>-->
                <!-- 关闭链接不自动commit-->
                <!-- <property name="autoCommitOnClose" value="false"></property>-->
                <!-- 获取链接超时时间-->
                <!-- <property name="checkoutTimeout" value="10000"></property>-->
                <!-- 获取链接失败重试次数-->
                <!-- <property name="acquireRetryAttempts" value="2"></property>-->
            </dataSource>
        </environment>
    </environments>

    <!--    3.注入sql映射文件-->
    <!--  将写好的sql映射文件注册到全局配置文件mybatis-config.xml中  -->
    <mappers>
        <mapper resource="com/EM_System/dao/AccountMapper.xml"/>
        <mapper resource="com/EM_System/dao/PositionMapper.xml"/>
        <mapper resource="com/EM_System/dao/OrderMapper.xml"/>
        <mapper resource="com/EM_System/dao/ExecutedOrderMapper.xml"/>
    </mappers>

</configuration>


